@import "../../../../styles/variables.scss";

.modal {
  &__taskModal {
    :global {
      .ant-modal-header {
        border-bottom: #dadce0 1px solid;
      }
    }
  }
  &__mainContent {
    border-right: 0.0625rem solid #e0e0e0;
    background-color: #f8f9fa;
    flex-grow: 1;
    min-width: 0;
    padding: 1.5rem;
    padding-bottom: 0.5rem;

    &__textarea {
      background-color: #f8f9fa;
      border-radius: 4px 4px 0 0;
      padding: 10px 10px;
      margin: 24px 0;
      border-bottom: 3px solid #1967d2;
    }
  }

  &__side {
    flex-shrink: 0;
    padding: 1.5rem 1.5rem 0 1.5rem;
    width: 340px;
  }

  &__wrap {
    height: auto;
    min-height: 100vh;

    div div.ant-modal-close button {
      position: absolute !important;
      left: 0;
      top: 50px;
      transform: translateY(-50%);
    }
  }

  &__input {
    color: $secondary-color;
    min-height: 6.25rem;
    padding: 0.5rem 1.2rem;
    border: 1px solid $primary-color;
    border-radius: 0.3rem;

    &::placeholder {
      color: $text-color-secondary;
    }

    & input::placeholder {
      color: $text-color-secondary;
    }
  }

  &__content {
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    min-width: 0;
    overflow: visible;
    padding: 1.5rem;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
  }

  &__name {
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #5f6368;
    margin-bottom: 0.5rem;
  }

  &__list {
    margin-bottom: 1rem;
  }

  &__dropdown {
    background-color: #f8f9fa;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }

  &__select {
    width: 100%;
    display: block;

    :global {
      .ant-space {
        width: 100%;
      }

      .ant-select-selector {
        background-color: #f8f9fa !important;
        padding: 8px !important;
        border-radius: 5px !important;
        border: none !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 100% !important;

        &:hover {
          background-color: #f2f3f4 !important;
        }
      }

      .ant-space-item {
        width: 100%;
        min-height: 48px;
        background-color: #f8f9fa;
        border-radius: 5px;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 8px;

        &:hover {
          background-color: #f2f3f4 !important;
        }
      }

      .ant-input-affix-wrapper {
        border: none;
        outline: none;
        box-shadow: none;
        height: 100%;
        padding: 0;

        &::before {
          content: "";
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background: red;
          visibility: visible;
          z-index: 999;
          transform: scaleX(0);
          transition: 0.3s;
        }

        .ant-input {
          background-color: #f8f9fa;
          padding: 16px;
        }
      }

      .ant-input-affix-wrapper-focused.ant-input-affix-wrapper {
        &::before {
          transform: scaleX(1);
        }
      }

      .ant-input-suffix {
        background-color: #f8f9fa;
        margin: 0;
        padding: 0 12px;
        font-size: 100px;
      }

      .ant-select-selection-placeholder {
        color: #5f6368;
      }

      .ant-picker-input {
        input::placeholder {
          color: #5f6368;
        }
      }
    }

    &__dropdown {
      :global {
        .ant-space {
          background-color: #f8f9fa;
          padding: 8px;
          border-radius: 5px;
          border: none;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          height: 100%;
          text-decoration: none;

          &:hover {
            background-color: #f2f3f4;
          }
        }
      }
    }

    &__saveButton {
      :global {
        .ant-btn {
          margin-top: 20px;
          margin-right: 24px;
          background-color: rgb(19, 115, 51);
          color: #fff;
          border-radius: 4px;
          outline: none;
          padding: 0 24px;
          height: 36px;
          font-weight: 500;

          :hover {
            border: none;
            outline: none;
          }
        }

        .ant-btn-icon-only {
          padding: 0;
          min-width: 2.125rem;
        }
      }
    }
  }
}
