@import "../../../../styles/variables.scss";

.modal {
  &__mainContent {
    border-right: 0.0625rem solid #e0e0e0;
    background-color: #f8f9fa;
    flex-grow: 1;
    min-width: 0;
    padding: 1.5rem;
    padding-bottom: 0.5rem;
  }

  &__side {
    flex-shrink: 0;
    padding: 1.5rem 1.5rem 0 1.5rem;
    width: 340px;
  }

  &__wrap {
    height: auto;
    min-height: 100vh;

    div div.ant-modal-close button {
      position: absolute !important;
      left: 0;
      top: 50px;
      transform: translateY(-50%);
    }
  }

  &__input {
    color: $secondary-color;
    min-height: 6.25rem;
    padding: 0.5rem 1.2rem;
    border: 1px solid $primary-color;
    border-radius: 0.3rem;

    &::placeholder {
      color: $text-color-secondary;
    }

    & input::placeholder {
      color: $text-color-secondary;
    }
  }

  &__content {
    width: 60rem;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    min-width: 0;
    overflow: visible;
    padding: 1.5rem;
    background-color: #fff;
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
  }

  &__name {
    letter-spacing: 0.01785714em;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.25rem;
    color: #5f6368;
    margin-bottom: 0.5rem;
  }

  &__list {
    cursor: pointer;
    background-color: #f8f9fa;
    padding: 16px 16px;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  &__dropdown {
    background-color: #f8f9fa;
    padding: 12px;
    border-radius: 5px;
    border: none;
  }

  &__list:hover {
    background-color: #f2f3f4;
  }

  &__select {
    :global {
      .ant-select-selector {
        background-color: #f8f9fa !important;
        padding: 8px !important;
        border-radius: 5px !important;
        border: none !important;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 100% !important;

        &:hover {
          background-color: #f2f3f4 !important;
        }
      }
    }
  }

  &__dropdown {
    :global {
      .ant-space {
        background-color: #f8f9fa;
        padding: 8px;
        border-radius: 5px;
        border: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        height: 100%;
        text-decoration: none;

        &:hover {
          background-color: #f2f3f4;
        }
      }
    }
  }

  &__saveButton {
    margin-top: 20px;
    margin-right: 24px;
    background-color: var(#{--default-color});
    color: #fff;
    border-radius: 4px;
    outline: none;
    padding: 0 24px;
    height: 36px;
    font-weight: 500;

    &:hover {
      background-color: var(#{--default-color});
      color: white;
      border-color: var(#{--default-color});
    }

    :global {
      .ant-btn {
        margin-top: 20px;
        margin-right: 24px;
        background-color: var(#{--default-color});
        color: #fff;
        border-radius: 4px;
        outline: none;
        padding: 0 24px;
        height: 36px;
        font-weight: 500;

        :hover {
          border: none;
          outline: none;
        }
      }

      .ant-btn-icon-only {
        padding: 0;
        min-width: 2.125rem;
      }
    }
  }
}
