.btn {
  background-color: white;
  border-radius: 3%;
  color: rgb(23,78,166);
  border: none;
  font-weight: 600;
  position: absolute;
  top: 12px;
  right: 12px;
}

.btn:hover {
  background-color: #e8f0fe;
  color: rgb(23,78,166);
}

.modal {
  // div:last-child {
  //   width: 800px;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%);
  //   position: relative;
  // }

  div:first-child {
    padding: 0 24px;
  }
  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    
    .modal_body {
      padding: 16px 24px 0;
      
      .body {
        display: flex;
        justify-content: space-between;

        .text {
          align-self: center;
        }
  
        .modal_btns {
          display: flex;
          gap: 10px;
          width: initial;
          left: initial;
          top: initial;
          transform: initial;

          .upload_btn {
            width: initial;
          }
        }
      }

      .color_block {
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        .colors {
          padding: 0 24px;
        }
      }
    }
  }
} 
