@import "./../../styles/variables.scss";
.button {
	padding: 10px 20px;
	background: $white-color;
	border: 1px solid $primary-color;
	border-radius: $border-radius-base;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	// &:hover{
	// 	background: $primary-color;
	// 	color: $white-color;
	// }
	& svg {
		font-size: 24px;
	}
}