.bottom_block_icon {
  padding: 15px;
  border-radius: 50%;
  color: var(#{--default-color}) !important;
}

.bottom_block_icon:hover {
  background-color: rgba(0, 0, 0, 0.161);
}

.name {
  float: left;
  vertical-align: 50%;
  font-weight: 600;
  font-size: 20px;
  color: var(#{--default-color}) !important;
}

.modal_content {
  font-size: 100px;
  color: var(#{--default-color}) !important;
  text-align: center;
}

.fullscreen_code {
  font-size: 20vw;
  font-weight: 400;
  line-height: 1;
  padding: 1.5rem 0;
  text-align: center;
  color: var(#{--default-color}) !important;  
}

.fullscreen_line {
  width: 95vw;
  height: 5px;
  background-color: var(#{--default-color}) !important;
}

.fullscreen_footer {
  width: 95vw;
  display: flex;
  justify-content: space-between;
  
  .fullscreen_name {
    color: var(#{--default-color}) !important;
  }
}

.btn {
  color: var(#{--default-color});
}

.btn:hover,
.btn:active,
.btn:focus
{
  background-color: var(#{--default-hover-color})!important;
  color: var(#{--default-color});
}