.bottom_block_icon {
  padding: 15px;
  border-radius: 50%;
  color: rgb(23,78,166);
}

.bottom_block_icon:hover {
  background-color: rgba(0, 0, 0, 0.161);
}

.name {
  float: left;
  vertical-align: 50%;
  font-weight: 600;
  font-size: 20px;
  color: rgb(23,78,166);
}

.modal_content {
  font-size: 100px;
  color: rgb(23,78,166);
  text-align: center;
}