@import '../../styles/variables.scss';

.open_icon {
  font-size: 20px;
  padding: 15px;
  border-radius: 50%;
}

.open_icon:hover {
  background: rgba(117, 117, 117, 0.414);
}

.setting_block {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 700px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .block {
    border: 0.0625rem solid #dadce0;
    border-radius: 0.5rem;
    padding: 24px 24px 8px;

    .input {
      border: none;
      border-radius: 0;
      background-color: #f1f3f4;
      border-bottom: 2px solid var(#{--default-color});
      padding: 16px 24px;
    }

    .input:focus {
      box-shadow: none;
    }

    .input::placeholder {
      color: var(#{--default-color})
    }

    .btn {
      color: var(#{--default-color});
      margin-left: -16px;
    }

    .btn:hover {
      background-color: var(#{--default-color});
      color: white;
    } 

    .icon {
      font-size: 20px;
      margin-left: 20px;
    }
    .middle_size {
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 1.75rem;
      color: #3c4043;
      margin-bottom: 15px;
    }

    .heading {
      color: var(#{--default-color});
      font-size: 40px;
    }

    .justify {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 14px;

      .last_heading {
        letter-spacing: .01785714em;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        color: #3c4043;
      }
      .text {
        letter-spacing: .025em;
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1rem;
        color: #5f6368;
        display: flex;
        align-items: center;
      }
      .select {
        border: none;
        border-radius: 0;
        background-color: #f1f3f4;
        border-bottom: 2px solid var(#{--default-color});
      }
    }
  }
}

.switch {
  background-color: var(#{--default-color});
}

.swithcUnChecked{
  background-color: grey;
}

.close_btn {
  margin-right: 24px;
  border: none;
  color: var(#{--default-color}) !important;
  background-color: transparent;
  box-shadow: none;
}

.close_btn:hover,
.close_btn:focus,
.close_btn:active {
  background-color: var(#{--default-color}) !important;
  color: white !important;
}

a {
  color: var(#{--default-color})
}
