span.text {
   font-size: 0.875rem;
   color: #2962ff;
}

.text {
   margin-left: 5px;
}

.home__card {
   position: relative;
   border: 0.0625rem solid #dadce0;
   border-radius: 8px;
   flex-direction: column;
   height: 18.375rem;
   overflow: hidden;
   text-align: left;
   display: flex;
   justify-content: space-between;
}

.card {
   &__row {
      margin-top: 24px;
   }
   &__info {
      padding: 1rem 1rem 0.75rem;
      box-sizing: border-box;
      height: 100px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }
   &__creator {
      color: #fff;
      &:hover {
         text-decoration: underline;
         cursor: pointer;
      }
   }
   &__bottom {
      -webkit-font-smoothing: antialiased;
      text-size-adjust: 100%;
      color: rgba(0, 0, 0, 0.87);
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-size: 0.8125rem;
      font-weight: 400;
      visibility: visible;
      list-style: none;
      text-align: left;
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      display: flex;
      flex-shrink: 0;
      justify-content: flex-end;
      border-top: 0.0625rem solid rgb(218, 220, 224);
      line-height: 0;
      padding: 0.25rem;
   }
   &__top {
      height: 72px;
      &__link {
         display: flex;
         flex-direction: column;
         &:hover span,
         &:hover h2 {
            text-decoration: underline;
         }
      }
   }
   &__avatar {
      float: right;
      height: 4.6875rem;
      position: relative;
      margin-top: -6.09375rem;
      width: 4.6875rem;
   }
   &__tooltip {
      line-height: 16px;
      padding: 4px 8px;
      min-width: 40px;
      max-width: 200px;
      min-height: 24px;
      max-height: 40vh;
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
   }
   &__dropdown {
      &__item {
         height: 48px;
         font-size: 16px;
         line-height: 24px;
         letter-spacing: 0.00625em;
         font-weight: 400;
         &:hover {
            background-color: yellow;
            background: rgb(24, 144, 55);
         }
      }
   }
   &__menu {
      background-color: #ffff;
      overflow: hidden;
      overflow-y: auto;
      max-height: calc(100vh - 119px);
      box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
      &:hover {
         background-color: #fff;
      }
   }
   &__avatar__wrap {
      padding: 1rem;
   }
   &__icon {
      &__wrap {
         background: transparent;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         padding: 5px;
         width: 44px;
         height: 44px;
         &:hover {
            background: #f5f5f5;
         }
      }
   }
}

div.card__item {
   width: 18.75rem;
   padding-right: 0;
   padding-left: 0;
   cursor: pointer;
   &:hover {
      box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
      transition: 0.3s linear;
   }
}

h2.card__title__wrap,
h2.card__title {
   margin-bottom: 0;
}

h2.card__title {
   color: #fff;
   font-size: 24px;
   margin: 0 -0.25rem;
   padding: 0 0.25rem;
}

span.card__chapter {
   color: #fff;
   font-size: 13px;
}

span.card__dropdown svg {
   cursor: pointer;
   fill: #fff;
}

span.card__dropdown {
   height: fit-content;
}
