@import "../../../../styles/variables.scss";

.sider {
   position: absolute;
   left: -14.625rem;
   &__list {
      flex-shrink: 0;
      padding-top: 3.375rem;
   }
   &__item {
      cursor: pointer;
      transition: 0.3s;
      text-overflow: ellipsis;
      padding: 10px 28px 10px 4px;
      border-radius: 7px;
      overflow: hidden;
      display: flex;
      align-items: center;
      &:hover {
         // background: $hover-bg;
         background-color: var(#{--default-hover-color}) !important;
      }
      &:hover .sider__link {
         // color: $text-color-secondary;
         color: var(#{--default-color}) !important;
      }
   }
   &__link {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 1.5rem;
      padding-left: 0.75rem;
      flex-grow: 1;
      color: var(#{--default-color}) !important;
   }
}

@media screen and (max-width: 80.875em) {
   .sider {
      position: initial;
      flex-shrink: 0;
   }
}
