.table-dropdown-cell {
    opacity: 0;
}

.ant-table-cell:hover .table-dropdown-cell {
    opacity: 1;
}

.ant-table-row {
    &.ant-table-row-level-0 {
        td {
            display: table-cell;
            vertical-align: middle;
        }
    }
}


.disabled-row td {
    background-color: hsl(0, 100%, 97%);
    pointer-events: none;
}

// .task-dropdown {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }

.task-link {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.task-link:hover {
    color: #1890ff; // Для изменения цвета ссылки задания
}

.name-link {
    color: rgba(0, 0, 0, 0.85);
}

.title-deadline {
    font-size: 12px;
    color: #5f6368;
}

.title-fromTo {
    font-size: 12px;
    color: #5f6368;
}
