.table-dropdown-cell {
    opacity: 0;
}

.ant-table-cell:hover .table-dropdown-cell {
    opacity: 1;
}

.ant-table-row {
    &.ant-table-row-level-0 {
        td {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.disabled-row td {
    background-color: var(#{--default-hover-color});
    pointer-events: none;
}

.task-link {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
}

.task-link:hover {
    color: var(#{--default-color}) // Для изменения цвета ссылки задания
}

.name-link {
    color: rgba(0, 0, 0, 0.85);
}

.name-link:hover {
    color: var(#{--default-color});
}

.title-deadline {
    font-size: 12px;
    color: #5f6368;
}

.title-fromTo {
    font-size: 12px;
    color: #5f6368;
}
