.btn {
  background-color: white;
  border-radius: 3%;
  color: rgb(23,78,166);
  border: none;
  font-weight: 600;
  position: absolute;
  top: 12px;
  right: 12px;
}

.btn:hover {
  background-color: #e8f0fe;
  color: rgb(23,78,166);
}

.modal {
  div {
    border: none;
  }

  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    
    .modal_body {
      padding: 16px 0 0;
      
      .body {
        display: flex;
        justify-content: space-between;

        .text {
          align-self: center;
        }
  
        .modal_btns {
          display: flex;
          gap: 10px;
        }
      }

      .color_block {
        display: flex;
        flex-direction: column;
        
      }
    }
  }
} 
