@import '../../../styles/variables.scss';

.bottom_block {
  padding: 24px;
  display: flex;
  flex-direction: column;

  span {
    b {
      padding-right: 5px;
    }
  
    .code {
      color: var(#{--default-color});
    }
  }
  
  .bottom_block_icon {
    padding: 15px;
    border-radius: 50%;
  }
  
  .bottom_block_icon:hover {
    background-color: rgba(0, 0, 0, 0.161);
  }
}