@import "../../styles/variables.scss";

.collapse {
   background-color: $white-color;
   &__head {
      &__wrap {
         padding: 5px 10px 6px 14px;
         z-index: 5000;
      }
      &__icon {
         fill: $white-color;
         &__wrap {
            width: 36px;
            height: 36px;
            background-color: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
         }
      }
      &__subtitle {
         font-size: 14px;
         font-weight: 600;
         color: #3c4043;
      }
      &__term {
         color: rgba(0, 0, 0, 0.549);
         padding-right: 0.25rem;
         margin-right: -0.25rem;
         font-size: 12px;
      }
      &__dropdown {
         width: 45px;
         height: 40px;
         // display: none;
      }
   }
   div &__title {
      font-weight: 400;
      margin-bottom: 0;
      :global {
         .ant-typography {
            color: var(#{--default-color}) !important;
         }
      }
      
      &__wrap {
         border-radius: 0.5rem;
         cursor: pointer;
         transition: 0.3s;
         padding: 1.5rem;
         border-bottom: 1px solid var(#{--default-color})!important;
         box-sizing: border-box;
         &:hover {
            border-bottom: 1px solid var(#{--default-color})!important;
            background-color: var(#{--default-hover-color})!important;
         }
      }
   }
   &__elipsis {
      transition: 0.3s;
      padding: 5px;
      border-radius: 50%;
      color: var(#{--default-color})!important;
      &:hover {
         background-color: rgba(128, 128, 128, 0.371);
      }
   }
   &__content {
      max-height: 40vh;
      overflow: auto;
      border-top: 1px solid rgba(0, 0, 0, 0.549);
      border-bottom: 1px solid rgba(0, 0, 0, 0.549);
      &__wrap {
         padding: 1rem 1.5rem;
      }
   }
}

.task {
   &__points {
      color: rgba(0, 0, 0, 0.549);
   }
}

.test {
   padding: 0;
}

div.ant-collapse-item-active {
   box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
   border-radius: 0.5rem;
   overflow: hidden;
   border-top: none;
}
