.body_blocks {
  width: 560px;
  padding: 24px; 
  border-radius: 0.5rem;
  border: 0.5px black solid;
  .account_block {
    display: flex;
    justify-content: space-between;
    .account_name {
      display: flex;
      gap: 16px;
      align-items: center;
      img {
        border-radius: 50%;
      }
    }
  }
}
.block_text {
  border: none;
  
  ul {
    list-style:initial;
    margin-left: 14px;
  }
}