<<<<<<< HEAD
.feed_content {
=======
@import '../../styles/variables.scss';

.feed_contebt {
>>>>>>> islam
  display: flex;
  gap: 24px;


  .feed_left {
    max-width: 190px;
    
    .course_code {
      padding: 16px;
      border-radius: 12px;
      border: 1px #dadce0 solid;
      position: relative;
      margin-bottom: 24px;
      font-size: 20px;

      .block_heading {
        font-size: 16px;
      }

      .drop_icon {
        position: absolute;
        right: 18px;
        top: 18px;
        font-size: 20px;
      }

      .drop_icon:hover {
        padding: 12px;
        right: 6px;
        top: 6px;
        border-radius: 50%;
        background-color: #e1e1e1;
      }
    }

    .upcoming_tasks {
      padding: 16px;
      border-radius: 12px;
      border: 1px #dadce0 solid;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      gap: 15px;

      .block_heading {
        font-size: 16px;
      }
    }
  }

  .feed_rigth {
    width: 100%;
  }
}

.code, .btn {
  color: var(#{--default-color});
}

.btn:hover,
.btn:active,
.btn:focus
{
  background-color: var(#{--default-hover-color})!important;
  color: var(#{--default-color});
}